@import 'mainstyle';
@import 'mainstyle_2';
@import 'mainstyle_3';

/* media queries  */
/* MOST IMPORTANT PART OF THE STYLING!!!  */

@media (max-width:991px){
    html {
        font-size: 50%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    section {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (width: 820px) {

    .menu {
        margin-top: 10rem;
    }
    
    .header .icons #menu-btn {
        display: none;
        visibility: hidden;
        position: fixed;
    }

    .login-container {
        width: 800px; /* Adjust the max-width as needed */
    }

    .signup {
        width: 800px; /* Adjust the max-width as needed */
    }

}

@media (min-width: 821px) {

    /* This part of the styling ensures that the menu button is hidden on much larger screens  */
    .header .icons #menu-btn {
        display: none;
        visibility: hidden;
        position: fixed;
    }
    .header .search-form {
        width: 45%;
        right: 5%;
    }

    .menu {
        margin-top: 5rem;
    }

    .drinks {
        margin-top: -1em;
    }

    .login-container {
        width: 800px; /* Adjust the max-width as needed */
    }

    .signup {
        width: 800px; /* Adjust the max-width as needed */
    }

    .signup input[type="text"],
    .signup input[type="password"],
    .signup input[type="email"],
    .signup input[type="tel"],
    .signup input[type="submit"] {
        width: 100%; /* Make input fields full width */
    }
}


@media (max-width:768px){
    #menu-btn {
        display: inline-block;
    }
    
    .header .navbar {
        position: absolute;
        top: 100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar a {
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .header .search-form {
        width: 90%;
        right: 2rem;
    }

    .home {
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3 {
        font-size: 4.5rem;
    }

    .home .content p {
        font-size: 1.5rem;
    }

    .menu {
        margin-top: 8rem;
    }
}

@media (max-width:450px){
    html {
        font-size: 50%;
    }
}

.signup {
    max-width: 750px;
    margin: 150px auto 50px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: medium;
}

.signup form {
    display: flex;
    flex-direction: column;
}

.signup input[name='email'],
.signup input[type='password'] {
    text-transform: none;
}

.signup input[type="text"],
.signup input[type="email"],
.signup input[type="tel"],
.signup input[type="password"],
.signup input[type="submit"] {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.signup input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.signup input[type="submit"]:hover {
    background-color: #0056b3;
}

.signup a {
    text-decoration: none;
    color: #007bff;
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: small;
}

.signup .form-error,
.login-container .form-error,
.admin-container .form-error {
    text-decoration: none;
    color: #ff0000;
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: small;
}

.signup a:hover {
    color: #0056b3;
}

@media (min-width: 1023px) {

    .heading {
        margin-top: 3rem;
        margin-bottom: -1rem; /* Adjust this value as needed */
    }

}

table {
    width: 75%;
    border-collapse: collapse;
}
table, th, td {
    border: 2px solid black;
}
th, td {
    padding: 10px;
    text-align: center;
    color: #ccc;
}